@model IEnumerable<Helperland.Models.UserAddress>

@{
    Layout = null;
}
@*@model Helperland.Controllers.Address
    Street: @Html.TextBoxFor(m => m.Address1)
    <br />*@

<p><b>Enter your contact details, so we can serve you in better way!</b></p>
@foreach (var item in Model)
{
    <div class="AddressList mt-2">
        <div class="form-check">
            <input class="form-check-input mt-3" type="radio" name="Address" value="@Html.DisplayFor(modelItem => item.AddressId)" />
            <label class="form-check-label ml-2">
                <b>Address:</b>@Html.DisplayFor(modelItem => item.AddressLine1)
                @Html.DisplayFor(modelItem => item.AddressLine2),@Html.DisplayFor(modelItem => item.City) @Html.DisplayFor(modelItem => item.PostalCode)<br />
                <b>Phone number:</b>@Html.DisplayFor(modelItem => item.Mobile)
            </label>
        </div>
    </div>
}
