@{
    ViewData["Title"] = "Book Service";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<link href="~/css/BookNow.css" rel="stylesheet" />

@*<script type="text/javascript" src="https://code.jquery.com/jquery-1.7.2.min.js"></script>*@
<div class="banner">
    <img src="~/assets/img/book-service-banner.jpg">
</div>


<section>
    <div class="middle_section">

        <!-- Title -->
        <div>
            <h2><b>Set up your cleaning service</b></h2>
            <div class="hr_img">
                <hr>
            </div>
        </div>


        <div class="service_section">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-12">
                        <table class="tabs" width="100%">
                            <tr>
                                <td>
                                    <div id="tab1" class="tab active-tab" onclick="Tab1Click()"><img src="~/assets/img/setup-service.png" id="Setup"> Setup Service</div>
                                </td>
                                <td>
                                    <div id="tab2" class="tab disabled" onclick="Tab2Click()"><img src="~/assets/img/schedule-white.png" id="Schedule"> Schedule & Plan</div>
                                </td>
                                <td>
                                    <div id="tab3" class="tab disabled" onclick="Tab3Click()"><img src="~/assets/img/details-white.png" id="Detail"> Your Detail</div>
                                </td>
                                <td>
                                    <div id="tab4" class="tab disabled" onclick="Tab4Click()"><img src="~/assets/img/payment-white.png" id="Payment"> Make Payment</div>
                                </td>
                            </tr>
                        </table>

                        <div id="tabContent">
                            <br /><br />
                            <div id="tabContent1">
                                <h4><b>Enter your Postal Code</b></h4>
                                <form>
                                    <table class="">
                                        <tr>
                                            <td width="250px"><input type="number" id="ZipCode" name="ZipCode" class="form-control" placeholder="Postal Code" maxlength="6" minlength="6" onfocus="CheckLogin();" required /></td>
                                            <td><input type="button" value="Check Availability" class="check_btn ml-2" onclick="SearchZipCode();" /></td>
                                        </tr>
                                    </table>
                                    <span class="text-danger" id="ErrorMessage"></span>
                                </form>
                            </div>
                            <div id="tabContent2" style="display:none;">
                                <div class="row my-4">
                                    <div class="col-md-6 col-12">
                                        <h5><b>when do you need the cleaner</b></h5>
                                        <form class="form-inline">
                                            <input type="date" id="StartDate" name="StartDate" value="12/02/2022" class="form-control mx-2" required />
                                            <select class="form-control" id="StartTime" name="StartTime" onblur="AddDuration();" required>
                                                <option value="1:00 PM">1:00 PM</option>
                                                <option value="2:00 PM">2:00 PM</option>
                                                <option value="3:00 PM">3:00 PM</option>
                                                <option value="4:00 PM">4:00 PM</option>
                                                <option value="5:00 PM">5:00 PM</option>
                                                <option value="6:00 PM">6:00 PM</option>
                                            </select>
                                            <script language="javascript">
                                                var today = new Date();
                                                var dd = String(today.getDate() + 1).padStart(2, '0');
                                                var mm = String(today.getMonth() + 1).padStart(2, '0');
                                                var yyyy = today.getFullYear();

                                                today = yyyy + '-' + mm + '-' + dd;
                                                $('#StartDate').attr('min', today);
                                            </script>
                                            <span class="text-danger" id="DateTime"></span>
                                        </form>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <h5 align="left"><b>How long do you need cleaner</b></h5>
                                        <form class="form-inline">
                                            <select id="Hours" name="Hours" class="form-control" onblur="AddBasic();" onfocus="AddDuration();">
                                                <option value="3" selected>3 Hrs</option>
                                                <option value="3.5">3.5 Hrs</option>
                                                <option value="4">4 Hrs</option>
                                                <option value="4.5">4.5 Hrs</option>
                                            </select>
                                        </form>
                                    </div>
                                </div>
                                <hr />
                                <div class="extra_service">
                                    <h5 align="left"><b>Extra services</b></h5>
                                    <div class="extra_service_selected">
                                        <div>
                                            <a onclick="Cabinets()">
                                                <div class="price_line_image" id="border1">
                                                    <img src="~/assets/img/3.png" class="center_img" id="Image1">
                                                </div>
                                            </a>
                                            <p>Inside cabinets</p>
                                        </div>
                                        <div>
                                            <a onclick="Fridge()">
                                                <div class="price_line_image" id="border2">
                                                    <img src="~/assets/img/5.png" class="center_img" id="Image2">
                                                </div>
                                            </a>
                                            <p>Inside fridge</p>
                                        </div>
                                        <div>
                                            <a onclick="Oven()">
                                                <div class="price_line_image" id="border3">
                                                    <img src="~/assets/img/4.png" class="center_img" id="Image3">
                                                </div>
                                            </a>
                                            <p>Inside oven</p>
                                        </div>
                                        <div>
                                            <a onclick="Laundry()">
                                                <div class="price_line_image" id="border4">
                                                    <img src="~/assets/img/2.png" class="center_img" id="Image4">
                                                </div>
                                            </a>
                                            <p>Laundry <br>wash & dry</p>
                                        </div>
                                        <div>
                                            <a onclick="Windows()">
                                                <div class="price_line_image" id="border5">
                                                    <img src="~/assets/img/1.png" class="center_img" id="Image5">
                                                </div>
                                            </a>
                                            <p>Interior <br>windows</p>
                                        </div>
                                    </div>
                                    <hr />
                                </div>
                                <!-- /extra services -->
                                <div class="comment">
                                    <h5><b>Comments</b></h5>
                                    <form>
                                        <textarea class="form-control" rows="3" id="Comment"></textarea>
                                        <div class="checkbox">
                                            <label><input type="checkbox" id="HavePets" name="HavePets"> I have pets at home</label>
                                        </div>
                                    </form>
                                    <hr>
                                </div>
                                <button class="continue_btn" onclick="SaveServiceDetail();">Continue</button>
                            </div>

                            <div id="tabContent3" style="display:none;">
                                <div id="divAddress"></div><br />
                                <button class="btn btn-outline-success rounded-pill mb-3" id="AddNewAddress" onclick="AddForm();">+ Add New Address</button>
                                <div id="HiddenForm" class="HiddenForm">
                                    @await Html.PartialAsync("AddressForm.cshtml")
                                </div>
                                <br />
                                <p><b>Your Favorite Service Providers</b></p>
                                <div class="FavoriteProvider">
                                    <p>You can choose your favorite service provider from the below list</p>
                                    <div class="price_line_image">
                                        <img src="~/assets/img/cap.png" class="center_img">
                                    </div>
                                    <p>Sandip Patel</p>
                                </div>
                                <button class="continue_btn mt-2" onclick="SaveAddress();">Continue</button>
                            </div>
                            <div id="tabContent4" style="display:none;">
                                You are booking service request for zipcode <span id="confirmZipCode"></span>
                                <br /><br />
                                <input type="button" class="check_btn float-right" value="Complete Booking" onclick="SaveBooking();" />
                            </div>
                        </div>
                    </div>
                    <!-- /col-md-8 payment summery -->
                    <div class="col-md-4 col-12">
                        <div class="right_section">
                            <div class="payment_summery">
                                <h4><b>Payment Summary</b></h4>
                            </div>
                            <div class="px-3">
                                <span id="Duration">Duration</span>
                                <p><span class="float-left">Basic</span><span class="float-right" id="Basic">0 Hrs</span></p><br>

                                <div id="Extra">
                                    <h6 class="font-weight-bold">Extras</h6>
                                </div>
                                <p><span class="float-left"><b>Total Service Time</b></span><span class="float-right font-weight-bold" id="TotalTime">3 Hrs</span></p><br><hr>
                                <p><span class="float-left">Per cleaning</span><b><span class="float-right" id="PerCleaning">0,00$</span></b></p><br>
                                <h5><span class="float-left text-primary py-2">Total Payment</span></h5><h3><span class="float-right text-primary py-1" id="TotalPayment">0,00$</span></h3><br>

                            </div>
                            <div class="last_line">
                                <img src="~/assets/img/smiley.png" /><p>See what is always included</p>
                            </div>
                        </div>
                        <!-- /right_section -->
                        <div class="Questions">
                            <h5 align="center"><b>Questions?</b></h5>
                            <p><img src="~/assets/img/keyboard-right-arrow-button.png"> Which Helperland professional will come to my place?</p><hr>
                            <p><img src="~/assets/img/keyboard-right-arrow-button.png"> Which Helperland professional will come to my place?</p><hr>
                            <p><img src="~/assets/img/keyboard-right-arrow-button.png"> Which Helperland professional will come to my place?</p><hr>
                            <a href="#">For more help</a>
                        </div>
                    </div>
                    <!-- /col-md-4 -->
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <h6 class="get-our-newsletter"><b>GET OUR NEWSLETTER</b></h6>
        <span>
            <button class="email_btn">YOUR EMAIL</button>
            <button class="submit_btn">submit</button>
        </span>

    </div>

    <!--Success model-->
    <div class="modal fade" id="SuccessModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content modal-sm">
                <div class="modal-header border-0">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body my-2">
                    <center>
                        <div class="bg-success Check_img"><img src="~/assets/img/ic-check.png" /></div>
                        <h4>Booking has been successfully submitted</h4>
                        <p>Service Request Id: <span id="ServiceId"></span></p>
                        <button type="button" class="ok_btn" data-dismiss="modal">OK</button>
                    </center>
                </div>
            </div>
        </div>
    </div>


    <!--Error model-->
    <div class="modal fade" id="ErrorModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content modal-sm">
                <div class="modal-header border-0">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body my-2">
                    <center>
                        <div class="bg-danger Check_img"><p>&#10005;</p></div>
                        <h4 class="text-danger">Error occured in booking</h4>
                        <button type="button" class="ok_btn" data-dismiss="modal" aria-label="Close">OK</button>
                    </center>
                </div>
            </div>
        </div>
    </div>
</section>


<script type="text/javascript">
    var globalVar = "Global to Booking page";
    var count = [];
    var ExtraHours = 0;
    var TotalTime = 3;
    var HourlyRate = 50;
    var TotalPayment = 0;
    for (var i = 1; i <= 5; i++) {
        count[i] = 0;
    }
    function Tab1Click() {
        $("#tab1").addClass("active-tab");
        $("#tab2").removeClass("active-tab").addClass("tab");
        $("#tab3").removeClass("active-tab").addClass("tab");
        $("#tab4").removeClass("active-tab").addClass("tab");

        $("#tabContent2").hide();
        $("#tabContent3").hide();
        $("#tabContent4").hide();
        $("#tabContent1").show();
        document.getElementById("Setup").src = "/assets/img/setup-service.png";
        document.getElementById("Schedule").src = "/assets/img/schedule-white.png";
        document.getElementById("Detail").src = "/assets/img/details-white.png";
        document.getElementById("Payment").src = "/assets/img/payment-white.png";
    }
    function Tab2Click() {
        $("#tab2").addClass("active-tab");
        $("#tab1").removeClass("active-tab").addClass("tab");
        $("#tab3").removeClass("active-tab").addClass("tab");
        $("#tab4").removeClass("active-tab").addClass("tab");

        $("#tabContent1").hide();
        $("#tabContent3").hide();
        $("#tabContent4").hide();
        $("#tabContent2").show();
        document.getElementById("Setup").src = "/assets/img/setup-service-white.png";
        document.getElementById("Schedule").src = "/assets/img/schedule.png";
        document.getElementById("Detail").src = "/assets/img/details-white.png";
        document.getElementById("Payment").src = "/assets/img/payment-white.png";
    }
    function Tab3Click() {
        $("#tab3").addClass("active-tab");
        $("#tab1").removeClass("active-tab").addClass("tab");
        $("#tab2").removeClass("active-tab").addClass("tab");
        $("#tab4").removeClass("active-tab").addClass("tab");

        $("#tabContent1").hide();
        $("#tabContent2").hide();
        $("#tabContent4").hide();
        $("#tabContent3").show();
        document.getElementById("Setup").src = "/assets/img/setup-service-white.png";
        document.getElementById("Schedule").src = "/assets/img/schedule-white.png";
        document.getElementById("Detail").src = "/assets/img/details.png";
        document.getElementById("Payment").src = "/assets/img/payment-white.png";
        $("#divAddress").html("Loading Address view...")
            .load('@Url.Action("GetAddress", "BookService")');
    }
    function Tab4Click() {
        $("#tab4").addClass("active-tab");
        $("#tab1").removeClass("active-tab").addClass("tab");
        $("#tab2").removeClass("active-tab").addClass("tab");
        $("#tab3").removeClass("active-tab").addClass("tab");

        $("#tabContent1").hide();
        $("#tabContent2").hide();
        $("#tabContent3").hide();
        $("#tabContent4").show();
        document.getElementById("Setup").src = "/assets/img/setup-service-white.png";
        document.getElementById("Schedule").src = "/assets/img/schedule-white.png";
        document.getElementById("Detail").src = "/assets/img/details-white.png";
        document.getElementById("Payment").src = "/assets/img/payment.png";
    }

    function SearchZipCode() {
        var Zip = $("#ZipCode").val();
        if (isNaN(Zip) || Zip == "") {
            $("#ErrorMessage").html("Please enter valid Zipcode.");
        }
        else {
            $.get("/BookService/SerchZipcode", { ZipCode: Zip }, function (data) {
                if (data == "true") {
                    alert("Zipcode Matched Successfuly.");
                    $("#tab2").removeClass("disabled").addClass("active-tab");
                    $("#tab1").removeClass("active-tab").addClass("tab");
                    $("#tabContent1").hide();
                    $("#tabContent2").show();
                    document.getElementById("Setup").src = "/assets/img/setup-service-white.png";
                    document.getElementById("Schedule").src = "/assets/img/schedule.png";
                    document.getElementById("Detail").src = "/assets/img/details-white.png";
                    document.getElementById("Payment").src = "/assets/img/payment-white.png";
                }
                else {
                    $("#ErrorMessage").html("We are not providing service in this area.We'll notify you if any helper would start working near your area.").fadeOut(5000);
                    if (data == "false") {

                    }
                    else {
                        alert("You have to login before Book A Service");
                        window.location.href = "@Url.Action("Login","Account")";
                    }
                }
            });
        }
    }

    function AddDuration() {
        if ($("#StartDate").val() == "" || $("#StartTime").val() == "") {
            $("#DateTime").html("Please select date and time.").fadeOut(5000);
        }
        else {
            $("#Duration").html($("#StartDate").val() + " At " + $("#StartTime").val());
            $("#PerCleaning").html(HourlyRate + "$");
        }
    }

    function AddBasic() {
        if (count[1] > 0 || count[2] > 0 || count[3] > 0 || count[4] > 0 || count[5] > 0) {
            count[1] = count[2] = count[3] = count[4] = count[5] = 0;
            $("#Extra").empty();
            $("#Extra").html("<b>Extras<b>");
            document.getElementById('Image1').src = "/assets/img/3.png";
            document.getElementById("border1").style.border = "1px solid #B0C9CE";

            document.getElementById('Image2').src = "/assets/img/5.png";
            document.getElementById("border2").style.border = "1px solid #B0C9CE";

            document.getElementById('Image3').src = "/assets/img/4.png";
            document.getElementById("border3").style.border = "1px solid #B0C9CE";

            document.getElementById('Image4').src = "/assets/img/2.png";
            document.getElementById("border4").style.border = "1px solid #B0C9CE";

            document.getElementById('Image5').src = "/assets/img/1.png";
            document.getElementById("border5").style.border = "1px solid #B0C9CE";

            $("#Basic").html($("#Hours").val() + " Hrs");
            TotalTime = parseFloat($("#Hours").val());
            TotalPayment = TotalTime * HourlyRate;
            $("#TotalTime").html(TotalTime + " Hrs");
            $("#TotalPayment").html(TotalPayment + "$");
        }
        $("#Basic").html($("#Hours").val() + " Hrs");
        TotalTime = parseFloat($("#Hours").val());
        TotalPayment = TotalTime * HourlyRate;
        $("#TotalTime").html(TotalTime + " Hrs");
        $("#TotalPayment").html(TotalPayment + "$");
    }
    function Cabinets() {
        if (count[1] <= 0) {
            ExtraHours += 0.5;
            TotalTime = (TotalTime + 0.5);
            TotalPayment = TotalTime * HourlyRate;
            $("#TotalTime").html(TotalTime + " Hrs");
            $("#TotalPayment").html(TotalPayment + "$");
            document.getElementById('Image1').src = "/assets/img/3-green.png";
            document.getElementById("border1").style.border = "3px solid #1D7A8C";
            document.getElementById("Extra").innerHTML += "<p><span class='float-left'>Inside cabinets</span><span class='float-right'>30 Mins</span></p><br>";
            count[1]++;
        }
    }
    function Fridge() {
        var image = document.getElementById('Image2');
        if (count[2] <= 0) {
            ExtraHours += 0.5;
            TotalTime = (TotalTime + 0.5);
            TotalPayment = TotalTime * HourlyRate;
            $("#TotalTime").html(TotalTime + " Hrs");
            $("#TotalPayment").html(TotalPayment + "$");
            image.src = "/assets/img/5-green.png";
            document.getElementById("border2").style.border = "3px solid #1D7A8C";
            document.getElementById("Extra").innerHTML += "<p><span class='float-left'>Inside Fridge</span><span class='float-right'>30 Mins</span></p><br>";
            count[2]++;
        }
    }

    function Oven() {
        var image = document.getElementById('Image3');
        if (count[3] <= 0) {
            ExtraHours += 0.5;
            TotalTime = (TotalTime + 0.5);
            TotalPayment = TotalTime * HourlyRate;
            $("#TotalTime").html(TotalTime + " Hrs");
            $("#TotalPayment").html(TotalPayment + "$");
            image.src = "/assets/img/4-green.png";
            document.getElementById("border3").style.border = "3px solid #1D7A8C";
            document.getElementById("Extra").innerHTML += "<p><span class='float-left'>Inside oven</span><span class='float-right'>30 Mins</span></p><br>";
            count[3]++;
        }
    }

    function Laundry() {
        var image = document.getElementById('Image4');
        if (count[4] <= 0) {
            ExtraHours += 0.5;
            TotalTime = (TotalTime + 0.5);
            TotalPayment = TotalTime * HourlyRate;
            $("#TotalTime").html(TotalTime + " Hrs");
            $("#TotalPayment").html(TotalPayment + "$");
            image.src = "/assets/img/2-green.png";
            document.getElementById("border4").style.border = "3px solid #1D7A8C";
            document.getElementById("Extra").innerHTML += "<p><span class='float-left'>Laundry wash & dry</span><span class='float-right'>30 Mins</span></p><br>";
            count[4]++;
        }
    }

    function Windows() {
        var image = document.getElementById('Image5');
        if (count[5] <= 0) {
            ExtraHours += 0.5;
            TotalTime = (TotalTime + 0.5);
            TotalPayment = TotalTime * HourlyRate;
            $("#TotalTime").html(TotalTime + " Hrs");
            $("#TotalPayment").html(TotalPayment + "$");
            image.src = "/assets/img/1-green.png";
            document.getElementById("border5").style.border = "3px solid #1D7A8C";
            document.getElementById("Extra").innerHTML += "<p><span class='float-left'>Interior windows</span><span class='float-right'>30 Mins</span></p><br>";
            count[5]++;
        }
    }

    function SaveServiceDetail() {
        if ($("#StartDate").val() == "" || $("#StartTime").val() == "" || $("#Hours").val() == "") {
            alert("Date,Time and Hours are required Field.");
        }
        else {
            $("#tab3").removeClass("disabled").addClass("active-tab");
            $("#tab2").removeClass("active-tab").addClass("tab");
            $("#tabContent2").hide();
            $("#tabContent4").hide();
            $("#tabContent3").show();
            document.getElementById("Setup").src = "/assets/img/setup-service-white.png";
            document.getElementById("Schedule").src = "/assets/img/schedule-white.png";
            document.getElementById("Detail").src = "/assets/img/details.png";
            document.getElementById("Payment").src = "/assets/img/payment-white.png";

            $("#Duration").html($("#StartDate").val() + " At " + $("#StartTime").val());
            $("#Basic").html($("#Hours").val() + " Hrs");
            $("#divAddress").html("Loading Address view...")
            .load('@Url.Action("GetAddress", "BookService")');
        }
    }

    function AddForm() {
        $("#HiddenForm").show();
        $("#AddNewAddress").hide();
        $("#Zip").val(($("#ZipCode").val()));
    }

    function RemoveForm() {
        $("#HiddenForm").hide();
        $("#AddNewAddress").show();
    }

    function ValidateForm() {
        $("#AddressForm").submit(function (e) {
            e.preventDefault();
            var actionurl = '@Url.Action("AddAddress", "BookService")';

            var formData = new FormData();
            formData.append("UserId", $("#UserId").val());
            formData.append("AddressLine1", $("#AddressLine1").val());
            formData.append("AddressLine2", $("#AddressLine2").val());
            formData.append("PostalCode", $("#Zip").val());
            formData.append("City", $("#City").val());
            formData.append("Mobile", $("#Mobile").val());

            $.ajax({
                type: 'post',
                url: actionurl,
                data: formData,
                processData: false,
                contentType: false
            }).done(function (response) {
                if (response) {
                    $("#divAddress").html("Loading Address view...")
            .load('@Url.Action("GetAddress", "BookService")');
                    alert("Address Added Successfully.");
                    $("#HiddenForm").hide();
                    $("#AddNewAddress").show();
                }
                else {
                    alert("All field are reaquired.");
                }
            });
        });
    }

    function SaveAddress() {
        if ($("input[type='radio'][name='Address']:checked").val() != null) {
            $("#tab4").removeClass("disabled").addClass("active-tab");
            $("#tab3").removeClass("active-tab").addClass("tab");
            $("#tabContent3").hide();
            $("#tabContent4").show();
            document.getElementById("Setup").src = "/assets/img/setup-service-white.png";
            document.getElementById("Schedule").src = "/assets/img/schedule-white.png";
            document.getElementById("Detail").src = "/assets/img/details-white.png";
            document.getElementById("Payment").src = "/assets/img/payment.png";
            $("#confirmZipCode").html($("#ZipCode").val());
        }
        else {
            alert("please Select Address From Address list.")
        }
    }

    function SaveBooking() {

        var actionurl = '@Url.Action("AddRequest", "BookService")';

        var booking = {};

        booking.ZipCode = $("#ZipCode").val();
        booking.bookingStartTime = $("#StartDate").val() + " " + $("#StartTime").val();
        booking.hours = parseFloat($("#Hours").val());
        booking.UserId = $("#UserId").val();
        booking.ServiceHourlyRate = HourlyRate;
        booking.ExtraHours = ExtraHours;
        booking.SubTotal = TotalTime;
        booking.TotalCost = TotalPayment;
        booking.Comments = $("#Comment").val();
        booking.HasPets = $("#HavePets").val();


        $.ajax({
            type: 'post',
            url: actionurl,
            dataType: 'json',
            contentType: 'application/x-www-form-urlencoded; charset=Utf-8',
            data: booking
            }).done(function (response) {
                if (response == "false") {
                    $("#ErrorModel").modal('show');
                }
                else {
                    for (var i = 1; i <= 5; i++) {
                        if (count[i] == 1) {
                            $.post("/BookService/AddExtra", { ServiceId: parseInt(response.id), ExtraId: parseInt(i) }, function (data) { });
                        }
                    }
                    $.post("/BookService/AddServiceAddress", { ServiceId: parseInt(response.id), AddressId: parseInt($("input[type='radio'][name='Address']:checked").val()) }, function (data) {
                        if (data) {
                            $("#ServiceId").html(response.id);
                            $("#SuccessModel").modal('show');
                        }
                    });
                }
            });
    }


</script>
