@model IEnumerable<Helperland.Models.ViewModel>
@{
    Layout = null;
}
<script type="text/javascript">
    $(document).ready(function () {
        $('#ServiceHistoryTable').DataTable({
            pageLength: 0,
            lengthMenu: [6, 10, 20, 50],

            searching: false,
            info: true,
            dom: '<"float-left"B><"float-right"f>rt<"row mt-2"<"col-sm-4"l><"col-sm-4"i><"col-sm-4"p>>',

            "sPaginationType": "full_numbers",
            language: {
                paginate: {
                    first: '<img src="assets/img/first-page.png">',
                    next: '<i class="fas fa-angle-right"></i>',
                    previous: '<i class="fas fa-angle-left"></i>',
                    last: '<img src="assets/img/first-page.png" style="transform:rotate(180deg);">',
                }
            }
        });

    });


</script>

<p class="float-left">Payment Status</p>
<a class="btn rounded-pill px-3 round_btn mb-2 float-right" asp-action="DownloadExcel">Export</a>
<table id="ServiceHistoryTable" class="table">
    <thead class="table_head">
        <tr>
            <th>Service Id </th>
            <th>Service Date </th>
            <th>Customer Details</th>
        </tr>
    </thead>
    <tbody class="table_body">
        @foreach (var item in Model)
        {
            <tr>
                <td onclick="Hrowclicked(@item.serviceRequest.ServiceRequestId);">@item.serviceRequest.ServiceRequestId</td>
                <td onclick="Hrowclicked(@item.serviceRequest.ServiceRequestId);">
                    <img src="~/assets/img/calendar2.png"> @item.serviceRequest.ServiceStartDate.ToShortDateString()
                    <br /><img src="~/assets/img/layer-14.png"> @item.serviceRequest.ServiceStartDate.ToShortTimeString() - @item.serviceRequest.ServiceStartDate.AddHours(Convert.ToDouble(item.serviceRequest.SubTotal)).ToShortTimeString()
                </td>
                <td onclick="Hrowclicked(@item.serviceRequest.ServiceRequestId);">
                    &emsp;&ensp;@item.user.FirstName @item.user.LastName <br />
                    <img src="~/assets/img/layer-15.png" />@item.requestAddress.AddressLine1 @item.requestAddress.AddressLine2 <br />
                    &emsp;&ensp;@item.requestAddress.PostalCode @item.requestAddress.City
                </td>
            </tr>

        }
    </tbody>
</table>

<div class="modal fade" id="HServiceDetails" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header border-0">
                Service details
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <hr />
            </div>
            <div class="modal-body py-0 border-0">
                <div id="HServiceData" class="font-weight-bold"></div>
                <hr />
                <p>Service Id: <span id="HServiceId"></span></p>

                <p>Extra: <span id="HExtra"></span></p>
                <p>Net Amount: <span id="HTotalCost"></span></p>
                <hr />
                <p>Customer Name: <span id="HCustomerName"></span></p>
                <p>Service Address: <span id="HServiceAddress"></span></p>
                <p>Distance: <span id="HDistance"></span></p>
                <hr />
                <p>Comments: <span id="HComments"></span></p>
                <hr />
            </div>
            <div class="pl-2 pb-2">
                <button class="btn rounded-pill px-3 round_btn" id="Accept_btn" value="" onclick="RescheduleService(this.value);">Reshedule</button>
            </div>
        </div>
    </div>
</div>
